In [2]:
%matplotlib inline

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches

In [4]:
df = pd.read_csv('UN.csv')

In [5]:
df.head()

,country,region,tfr,contraception,educationMale,educationFemale,lifeMale,lifeFemale,infantMortality,GDPperCapita,economicActivityMale,economicActivityFemale,illiteracyMale,illiteracyFemale
0,Afghanistan,Asia,6.90,NaN,NaN,NaN,45.0,46.0,154,2848,87.5,7.2,52.800,85.00
1,Albania,Europe,2.60,NaN,NaN,NaN,68.0,74.0,32,863,NaN,NaN,NaN,NaN
2,Algeria,Africa,3.81,52,11.1,9.9,67.5,70.3,44,1531,76.4,7.8,26.100,51.00
3,American.Samoa,Asia,NaN,NaN,NaN,NaN,68.0,73.0,11,NaN,58.8,42.4,0.264,0.36
4,Andorra,Europe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
rows = df.shape[0]
print('total rows {}'.format(rows))

total rows 207

In [7]:
rows - df.isnull().sum()

country                   207
region                    207
tfr                       197
contraception             144
educationMale              76
educationFemale            76
lifeMale                  196
lifeFemale                196
infantMortality           201
GDPperCapita              197
economicActivityMale      165
economicActivityFemale    165
illiteracyMale            160
illiteracyFemale          160
dtype: int64

In [8]:
# best to cluster on infantmortality, lifeMale, lifeFemale

In [9]:
for col in df.columns.values:
    print('{} : {}'.format(col, df[col].dtype))

country : object
region : object
tfr : float64
contraception : float64
educationMale : float64
educationFemale : float64
lifeMale : float64
lifeFemale : float64
infantMortality : float64
GDPperCapita : float64
economicActivityMale : float64
economicActivityFemale : float64
illiteracyMale : float64
illiteracyFemale : float64

In [10]:
len(df['country'].unique()) # unique returns list.  len gives length. Prevents counting duplicates.

207

In [11]:
#Apply scipy.cluster.vq.kmeans 1 to 10 and determine the cluster centroids.

In [114]:
from scipy.cluster.vq import kmeans, whiten, vq

In [13]:
features = ['lifeMale','lifeFemale','infantMortality','GDPperCapita']

In [45]:
df_features = df[features]

In [46]:
df_features.head()

   lifeMale  lifeFemale  infantMortality  GDPperCapita
0      45.0        46.0              154          2848
1      68.0        74.0               32           863
2      67.5        70.3               44          1531
3      68.0        73.0               11           NaN
4       NaN         NaN              NaN           NaN

In [47]:
df_features_clean = df_features.dropna()

In [48]:
df_features_clean.shape

(188, 4)

In [52]:
ar_whiten = whiten(df_features_clean)
# whiten function normalizes the df

In [53]:
ar_centroids = kmeans(ar_whiten , 10) # this generates the codebook with whitened centroid values

In [56]:
ar_centroids

(array([[ 4.73891584,  4.46290713,  2.83381706,  0.03232314],
        [ 7.57162724,  7.17220628,  0.22647459,  2.043228  ],
        [ 5.92734851,  5.45905091,  1.87721552,  0.1585886 ],
        [ 4.3559465 ,  4.06808367,  3.66364083,  0.07454862],
        [ 6.7418259 ,  6.61355682,  0.56452935,  0.29259488],
        [ 7.35584461,  7.09031481,  0.27066476,  1.15659281],
        [ 6.63764845,  6.28846415,  1.14502418,  0.16406281],
        [ 5.21459989,  4.89798179,  2.0980099 ,  0.09440701],
        [ 7.61548268,  7.29104312,  0.14779155,  3.38829266],
        [ 7.20375448,  6.85702375,  0.4618486 ,  0.30190503]]),
 0.38931660538177959)

In [116]:
vq(ar_features_clean,ar_centroids[0])

(array([8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8,
        8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8,
        8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8,
        8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8,
        8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8,
        8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8,
        8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8,
        8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8,
        8, 8, 8, 8]),
 array([  2849.27749668,    864.89492162,   1530.71121661,    376.86293061,
          8052.17996448,    362.69353623,  20042.86345746,  29002.77897724,
           331.57336218,  12541.97129061,   9070.10643408,    296.16787702,
          7170.27639574,    994.64269137,  26578.79634376,   2567.55075168,
           402.20714253,    203.54139408,    911.21792846,    283.62449939,
          3637.54597854,   4507.60434768,  16679.89408181,   1517.39680496,
           196.16468726,    238.26001775,    175.33532255,    630.02182621,
         18939.88298768,    994.96542327,    392.02871356,    223.97663538,
          4733.6038185 ,    586.55203948,   2213.56633178,    379.37249057,
          1010.50673845,   5429.39569323,   2694.42808739,   4011.67690494,
          1982.01264576,  11456.04376876,   4447.58607251,    157.92199864,
         33187.7527892 ,    897.94237469,   1507.67668044,   1564.78369086,
           974.63154084,   1659.39490099,    403.69570271,    147.92156986,
          2431.23548284,    153.69119461,   2591.33574155,  24449.80802508,
         26440.80554845,  19762.82901544,   5004.7930955 ,    344.77170534,
           352.6795471 ,  29628.77428474,    406.6519127 ,   8681.1902284 ,
          9142.12218519,   1391.76028255,    459.0966911 ,    190.56968379,
           729.41661405,    396.86988511,    700.08870644,  22894.83589126,
          4322.51997362,  26213.80923674,    376.78174302,   1020.01122491,
          1543.57807209,  11305.27693641,  17415.88849284,  16734.90739691,
         19117.87568332,    740.20522637,   1778.19176099,  41714.73794467,
          1228.14353512,    995.86007509,    339.44240971,    658.13637655,
           283.63249394,   9733.05057386,  15753.91767087,    340.77141102,
           371.58635341,   1762.81235164,   3112.00008585,    493.26773007,
          1132.70479486,   5495.51365652,   1594.17547431,  35105.74794637,
          1659.32452779,    236.43781701,    203.82977626,   4310.59629285,
          1079.73973607,    271.4572533 ,   8790.16376838,   1647.56194767,
         12713.99492957,    413.25381165,   3505.82243144,   2698.36037516,
          2102.37282336,    389.89646633,    396.7732682 ,   1265.41165343,
           143.5666192 ,   2398.03604627,   2057.61271944,    226.98899069,
         25631.80578579,   9036.1434741 ,  19446.84390117,  16862.90200217,
           470.61621647,    240.42567379,    592.07728894,  33730.75862856,
          6229.31251484,    512.31287664,   6414.21341577,   2932.20318089,
          1083.68165764,   1859.10998342,   2495.50681264,   1093.57444161,
          3055.97588791,  10425.05819653,  12210.00679597,  14009.92629693,
         11851.00448358,   1569.26540518,   2449.04468424,    270.25135732,
          4816.46038882,   3180.95159661,   1107.59071574,   6580.27827665,
           575.3196882 ,   7269.1572804 ,    337.94008328,  25577.80312085,
          3263.89271052,   9649.06829687,    689.02815614,    171.2759673 ,
          3228.00641775,  14107.96709473,    718.80441963,    103.00400175,
           968.16041763,   1389.12204528,  26249.8046799 ,  42412.73143951,
          3570.82376263,    156.03701729,    169.21708787,   2894.09116664,
           335.46179825,   1785.73912141,   4080.71724606,   2028.84907052,
          2812.30814203,    332.66536969,    325.58515721,    696.30997607,
         17686.87755912,  18909.86991648,  26033.79753759,   5599.40298598,
           441.99412666,   1288.97277838,   3493.90082376,    282.14147124,
           736.43874077,   1486.59047365,    395.53394633,    787.69088641]))

In [58]:
df_features_clean.head()

   lifeMale  lifeFemale  infantMortality  GDPperCapita
0      45.0        46.0              154          2848
1      68.0        74.0               32           863
2      67.5        70.3               44          1531
5      44.9        48.1              124           355
7      69.6        76.8               22          8055

In [59]:
ar_features_clean = np.array(df_features_clean)

In [112]:
for data_counter, val in enumerate(ar_features_clean):

    row_sub_sum= None
    row_sub_sum_min = None
    member_of = None
    for centroid_counter, values in enumerate(ar_centroids[0]):
    #     print(centroid_counter)
        row_sub_sum = (ar_features_clean[data_counter] - ar_centroids[0][centroid_counter]).sum()
#         print(row_sub_sum)
        if centroid_counter == 0:
            row_sub_sum_min = row_sub_sum
            member_of = 0
        elif row_sub_sum <= row_sub_sum_min: # what to do if equal?:
            row_sub_sum_min = row_sub_sum
            member_of = centroid_counter
    print("Difference of features and whitened centroid values is least at {}. \
    As such data row {} is a member of centroid {}.".format(row_sub_sum_min,data_counter,member_of))

Difference of features and whitened centroid values is least at 3074.55738999.     As such data row 0 is a member of centroid 8.
Difference of features and whitened centroid values is least at 1018.55738999.     As such data row 1 is a member of centroid 8.
Difference of features and whitened centroid values is least at 1694.35738999.     As such data row 2 is a member of centroid 8.
Difference of features and whitened centroid values is least at 553.557389992.     As such data row 3 is a member of centroid 8.
Difference of features and whitened centroid values is least at 8204.95738999.     As such data row 4 is a member of centroid 8.
Difference of features and whitened centroid values is least at 501.757389992.     As such data row 5 is a member of centroid 8.
Difference of features and whitened centroid values is least at 20190.15739.     As such data row 6 is a member of centroid 8.
Difference of features and whitened centroid values is least at 29147.35739.     As such data row 7 is a member of centroid 8.
Difference of features and whitened centroid values is least at 476.557389992.     As such data row 8 is a member of centroid 8.
Difference of features and whitened centroid values is least at 12688.15739.     As such data row 9 is a member of centroid 8.
Difference of features and whitened centroid values is least at 9218.95738999.     As such data row 10 is a member of centroid 8.
Difference of features and whitened centroid values is least at 455.857389992.     As such data row 11 is a member of centroid 8.
Difference of features and whitened centroid values is least at 7315.85738999.     As such data row 12 is a member of centroid 8.
Difference of features and whitened centroid values is least at 1129.75738999.     As such data row 13 is a member of centroid 8.
Difference of features and whitened centroid values is least at 26725.05739.     As such data row 14 is a member of centroid 8.
Difference of features and whitened centroid values is least at 2730.05738999.     As such data row 15 is a member of centroid 8.
Difference of features and whitened centroid values is least at 566.157389992.     As such data row 16 is a member of centroid 8.
Difference of features and whitened centroid values is least at 358.057389992.     As such data row 17 is a member of centroid 8.
Difference of features and whitened centroid values is least at 1079.55738999.     As such data row 18 is a member of centroid 8.
Difference of features and whitened centroid values is least at 411.957389992.     As such data row 19 is a member of centroid 8.
Difference of features and whitened centroid values is least at 3778.15738999.     As such data row 20 is a member of centroid 8.
Difference of features and whitened centroid values is least at 4668.15738999.     As such data row 21 is a member of centroid 8.
Difference of features and whitened centroid values is least at 16825.05739.     As such data row 22 is a member of centroid 8.
Difference of features and whitened centroid values is least at 1658.25738999.     As such data row 23 is a member of centroid 8.
Difference of features and whitened centroid values is least at 335.657389992.     As such data row 24 is a member of centroid 8.
Difference of features and whitened centroid values is least at 394.857389992.     As such data row 25 is a member of centroid 8.
Difference of features and whitened centroid values is least at 321.557389992.     As such data row 26 is a member of centroid 8.
Difference of features and whitened centroid values is least at 778.257389992.     As such data row 27 is a member of centroid 8.
Difference of features and whitened centroid values is least at 19088.45739.     As such data row 28 is a member of centroid 8.
Difference of features and whitened centroid values is least at 1149.55738999.     As such data row 29 is a member of centroid 8.
Difference of features and whitened centroid values is least at 553.957389992.     As such data row 30 is a member of centroid 8.
Difference of features and whitened centroid values is least at 379.157389992.     As such data row 31 is a member of centroid 8.
Difference of features and whitened centroid values is least at 4881.15738999.     As such data row 32 is a member of centroid 8.
Difference of features and whitened centroid values is least at 741.457389992.     As such data row 33 is a member of centroid 8.
Difference of features and whitened centroid values is least at 2362.45738999.     As such data row 34 is a member of centroid 8.
Difference of features and whitened centroid values is least at 545.557389992.     As such data row 35 is a member of centroid 8.
Difference of features and whitened centroid values is least at 1181.55738999.     As such data row 36 is a member of centroid 8.
Difference of features and whitened centroid values is least at 5579.55738999.     As such data row 37 is a member of centroid 8.
Difference of features and whitened centroid values is least at 2843.25738999.     As such data row 38 is a member of centroid 8.
Difference of features and whitened centroid values is least at 4150.15738999.     As such data row 39 is a member of centroid 8.
Difference of features and whitened centroid values is least at 2125.75738999.     As such data row 40 is a member of centroid 8.
Difference of features and whitened centroid values is least at 11602.75739.     As such data row 41 is a member of centroid 8.
Difference of features and whitened centroid values is least at 4586.35738999.     As such data row 42 is a member of centroid 8.
Difference of features and whitened centroid values is least at 293.357389992.     As such data row 43 is a member of centroid 8.
Difference of features and whitened centroid values is least at 33330.85739.     As such data row 44 is a member of centroid 8.
Difference of features and whitened centroid values is least at 1081.25738999.     As such data row 45 is a member of centroid 8.
Difference of features and whitened centroid values is least at 1665.55738999.     As such data row 46 is a member of centroid 8.
Difference of features and whitened centroid values is least at 1732.35738999.     As such data row 47 is a member of centroid 8.
Difference of features and whitened centroid values is least at 1140.55738999.     As such data row 48 is a member of centroid 8.
Difference of features and whitened centroid values is least at 1819.55738999.     As such data row 49 is a member of centroid 8.
Difference of features and whitened centroid values is least at 576.557389992.     As such data row 50 is a member of centroid 8.
Difference of features and whitened centroid values is least at 276.757389992.     As such data row 51 is a member of centroid 8.
Difference of features and whitened centroid values is least at 2565.45738999.     As such data row 52 is a member of centroid 8.
Difference of features and whitened centroid values is least at 284.557389992.     As such data row 53 is a member of centroid 8.
Difference of features and whitened centroid values is least at 2740.05738999.     As such data row 54 is a member of centroid 8.
Difference of features and whitened centroid values is least at 24592.65739.     As such data row 55 is a member of centroid 8.
Difference of features and whitened centroid values is least at 26590.05739.     As such data row 56 is a member of centroid 8.
Difference of features and whitened centroid values is least at 19902.65739.     As such data row 57 is a member of centroid 8.
Difference of features and whitened centroid values is least at 5184.55738999.     As such data row 58 is a member of centroid 8.
Difference of features and whitened centroid values is least at 518.657389992.     As such data row 59 is a member of centroid 8.
Difference of features and whitened centroid values is least at 492.757389992.     As such data row 60 is a member of centroid 8.
Difference of features and whitened centroid values is least at 29772.85739.     As such data row 61 is a member of centroid 8.
Difference of features and whitened centroid values is least at 567.657389992.     As such data row 62 is a member of centroid 8.
Difference of features and whitened centroid values is least at 8829.65738999.     As such data row 63 is a member of centroid 8.
Difference of features and whitened centroid values is least at 9285.45738999.     As such data row 64 is a member of centroid 8.
Difference of features and whitened centroid values is least at 1548.05738999.     As such data row 65 is a member of centroid 8.
Difference of features and whitened centroid values is least at 640.557389992.     As such data row 66 is a member of centroid 8.
Difference of features and whitened centroid values is least at 332.157389992.     As such data row 67 is a member of centroid 8.
Difference of features and whitened centroid values is least at 894.557389992.     As such data row 68 is a member of centroid 8.
Difference of features and whitened centroid values is least at 558.357389992.     As such data row 69 is a member of centroid 8.
Difference of features and whitened centroid values is least at 853.357389992.     As such data row 70 is a member of centroid 8.
Difference of features and whitened centroid values is least at 23042.45739.     As such data row 71 is a member of centroid 8.
Difference of features and whitened centroid values is least at 4458.85738999.     As such data row 72 is a member of centroid 8.
Difference of features and whitened centroid values is least at 26362.15739.     As such data row 73 is a member of centroid 8.
Difference of features and whitened centroid values is least at 543.357389992.     As such data row 74 is a member of centroid 8.
Difference of features and whitened centroid values is least at 1178.85738999.     As such data row 75 is a member of centroid 8.
Difference of features and whitened centroid values is least at 1703.05738999.     As such data row 76 is a member of centroid 8.
Difference of features and whitened centroid values is least at 11509.35739.     As such data row 77 is a member of centroid 8.
Difference of features and whitened centroid values is least at 17559.95739.     As such data row 78 is a member of centroid 8.
Difference of features and whitened centroid values is least at 16881.75739.     As such data row 79 is a member of centroid 8.
Difference of features and whitened centroid values is least at 19266.05739.     As such data row 80 is a member of centroid 8.
Difference of features and whitened centroid values is least at 905.757389992.     As such data row 81 is a member of centroid 8.
Difference of features and whitened centroid values is least at 1921.75738999.     As such data row 82 is a member of centroid 8.
Difference of features and whitened centroid values is least at 41863.35739.     As such data row 83 is a member of centroid 8.
Difference of features and whitened centroid values is least at 1379.05738999.     As such data row 84 is a member of centroid 8.
Difference of features and whitened centroid values is least at 1145.85738999.     As such data row 85 is a member of centroid 8.
Difference of features and whitened centroid values is least at 484.557389992.     As such data row 86 is a member of centroid 8.
Difference of features and whitened centroid values is least at 821.557389992.     As such data row 87 is a member of centroid 8.
Difference of features and whitened centroid values is least at 418.557389992.     As such data row 88 is a member of centroid 8.
Difference of features and whitened centroid values is least at 9871.35738999.     As such data row 89 is a member of centroid 8.
Difference of features and whitened centroid values is least at 15904.85739.     As such data row 90 is a member of centroid 8.
Difference of features and whitened centroid values is least at 486.857389992.     As such data row 91 is a member of centroid 8.
Difference of features and whitened centroid values is least at 533.557389992.     As such data row 92 is a member of centroid 8.
Difference of features and whitened centroid values is least at 1898.35738999.     As such data row 93 is a member of centroid 8.
Difference of features and whitened centroid values is least at 3264.35738999.     As such data row 94 is a member of centroid 8.
Difference of features and whitened centroid values is least at 656.757389992.     As such data row 95 is a member of centroid 8.
Difference of features and whitened centroid values is least at 1361.55738999.     As such data row 96 is a member of centroid 8.
Difference of features and whitened centroid values is least at 5666.95738999.     As such data row 97 is a member of centroid 8.
Difference of features and whitened centroid values is least at 1730.45738999.     As such data row 98 is a member of centroid 8.
Difference of features and whitened centroid values is least at 35249.35739.     As such data row 99 is a member of centroid 8.
Difference of features and whitened centroid values is least at 1809.55738999.     As such data row 100 is a member of centroid 8.
Difference of features and whitened centroid values is least at 390.557389992.     As such data row 101 is a member of centroid 8.
Difference of features and whitened centroid values is least at 346.957389992.     As such data row 102 is a member of centroid 8.
Difference of features and whitened centroid values is least at 4449.75738999.     As such data row 103 is a member of centroid 8.
Difference of features and whitened centroid values is least at 1238.55738999.     As such data row 104 is a member of centroid 8.
Difference of features and whitened centroid values is least at 449.657389992.     As such data row 105 is a member of centroid 8.
Difference of features and whitened centroid values is least at 8936.25738999.     As such data row 106 is a member of centroid 8.
Difference of features and whitened centroid values is least at 1778.65738999.     As such data row 107 is a member of centroid 8.
Difference of features and whitened centroid values is least at 12859.55739.     As such data row 108 is a member of centroid 8.
Difference of features and whitened centroid values is least at 581.557389992.     As such data row 109 is a member of centroid 8.
Difference of features and whitened centroid values is least at 3647.85738999.     As such data row 110 is a member of centroid 8.
Difference of features and whitened centroid values is least at 2857.55738999.     As such data row 111 is a member of centroid 8.
Difference of features and whitened centroid values is least at 2238.75738999.     As such data row 112 is a member of centroid 8.
Difference of features and whitened centroid values is least at 525.557389992.     As such data row 113 is a member of centroid 8.
Difference of features and whitened centroid values is least at 553.157389992.     As such data row 114 is a member of centroid 8.
Difference of features and whitened centroid values is least at 1430.85738999.     As such data row 115 is a member of centroid 8.
Difference of features and whitened centroid values is least at 262.457389992.     As such data row 116 is a member of centroid 8.
Difference of features and whitened centroid values is least at 2578.85738999.     As such data row 117 is a member of centroid 8.
Difference of features and whitened centroid values is least at 2211.85738999.     As such data row 118 is a member of centroid 8.
Difference of features and whitened centroid values is least at 381.257389992.     As such data row 119 is a member of centroid 8.
Difference of features and whitened centroid values is least at 25778.15739.     As such data row 120 is a member of centroid 8.
Difference of features and whitened centroid values is least at 9183.25738999.     As such data row 121 is a member of centroid 8.
Difference of features and whitened centroid values is least at 19596.35739.     As such data row 122 is a member of centroid 8.
Difference of features and whitened centroid values is least at 17008.95739.     As such data row 123 is a member of centroid 8.
Difference of features and whitened centroid values is least at 625.957389992.     As such data row 124 is a member of centroid 8.
Difference of features and whitened centroid values is least at 399.657389992.     As such data row 125 is a member of centroid 8.
Difference of features and whitened centroid values is least at 750.357389992.     As such data row 126 is a member of centroid 8.
Difference of features and whitened centroid values is least at 33875.95739.     As such data row 127 is a member of centroid 8.
Difference of features and whitened centroid values is least at 6380.75738999.     As such data row 128 is a member of centroid 8.
Difference of features and whitened centroid values is least at 687.557389992.     As such data row 129 is a member of centroid 8.
Difference of features and whitened centroid values is least at 6557.55738999.     As such data row 130 is a member of centroid 8.
Difference of features and whitened centroid values is least at 3084.75738999.     As such data row 131 is a member of centroid 8.
Difference of features and whitened centroid values is least at 1241.45738999.     As such data row 132 is a member of centroid 8.
Difference of features and whitened centroid values is least at 2020.05738999.     As such data row 133 is a member of centroid 8.
Difference of features and whitened centroid values is least at 2660.35738999.     As such data row 134 is a member of centroid 8.
Difference of features and whitened centroid values is least at 1246.35738999.     As such data row 135 is a member of centroid 8.
Difference of features and whitened centroid values is least at 3194.95738999.     As such data row 136 is a member of centroid 8.
Difference of features and whitened centroid values is least at 10568.25739.     As such data row 137 is a member of centroid 8.
Difference of features and whitened centroid values is least at 12356.55739.     As such data row 138 is a member of centroid 8.
Difference of features and whitened centroid values is least at 14156.95739.     As such data row 139 is a member of centroid 8.
Difference of features and whitened centroid values is least at 11993.25739.     As such data row 140 is a member of centroid 8.
Difference of features and whitened centroid values is least at 1714.75738999.     As such data row 141 is a member of centroid 8.
Difference of features and whitened centroid values is least at 2581.05738999.     As such data row 142 is a member of centroid 8.
Difference of features and whitened centroid values is least at 428.757389992.     As such data row 143 is a member of centroid 8.
Difference of features and whitened centroid values is least at 4963.35738999.     As such data row 144 is a member of centroid 8.
Difference of features and whitened centroid values is least at 3325.35738999.     As such data row 145 is a member of centroid 8.
Difference of features and whitened centroid values is least at 1284.15738999.     As such data row 146 is a member of centroid 8.
Difference of features and whitened centroid values is least at 6730.85738999.     As such data row 147 is a member of centroid 8.
Difference of features and whitened centroid values is least at 718.157389992.     As such data row 148 is a member of centroid 8.
Difference of features and whitened centroid values is least at 7404.95738999.     As such data row 149 is a member of centroid 8.
Difference of features and whitened centroid values is least at 518.657389992.     As such data row 150 is a member of centroid 8.
Difference of features and whitened centroid values is least at 25722.15739.     As such data row 151 is a member of centroid 8.
Difference of features and whitened centroid values is least at 3402.35738999.     As such data row 152 is a member of centroid 8.

In [117]:
for row_cnt, val in enumerate(ar_features_clean):
    cast1 = ar_features_clean[row_cnt] - ar_centroids[0]
    print(cast1.sum())
    centroid_group = min(enumerate(cast1), key = lambda x: sum(x[1]))[0]  # this lambda function will find the min
    print("Row {} is in Centroid group {}".format(row_cnt, centroid_group))

30785.4408136
Row 0 is in Centroid group 8
10225.4408136
Row 1 is in Centroid group 8
16983.4408136
Row 2 is in Centroid group 8
5575.44081359
Row 3 is in Centroid group 8
82089.4408136
Row 4 is in Centroid group 8
5057.44081359
Row 5 is in Centroid group 8
201941.440814
Row 6 is in Centroid group 8
291513.440814
Row 7 is in Centroid group 8
4805.44081359
Row 8 is in Centroid group 8
126921.440814
Row 9 is in Centroid group 8
92229.4408136
Row 10 is in Centroid group 8
4598.44081359
Row 11 is in Centroid group 8
73198.4408136
Row 12 is in Centroid group 8
11337.4408136
Row 13 is in Centroid group 8
267290.440814
Row 14 is in Centroid group 8
27340.4408136
Row 15 is in Centroid group 8
5701.44081359
Row 16 is in Centroid group 8
3620.44081359
Row 17 is in Centroid group 8
10835.4408136
Row 18 is in Centroid group 8
4159.44081359
Row 19 is in Centroid group 8
37821.4408136
Row 20 is in Centroid group 8
46721.4408136
Row 21 is in Centroid group 8
168290.440814
Row 22 is in Centroid group 8
16622.4408136
Row 23 is in Centroid group 8
3396.44081359
Row 24 is in Centroid group 8
3988.44081359
Row 25 is in Centroid group 8
3255.44081359
Row 26 is in Centroid group 8
7822.44081359
Row 27 is in Centroid group 8
190924.440814
Row 28 is in Centroid group 8
11535.4408136
Row 29 is in Centroid group 8
5579.44081359
Row 30 is in Centroid group 8
3831.44081359
Row 31 is in Centroid group 8
48851.4408136
Row 32 is in Centroid group 8
7454.44081359
Row 33 is in Centroid group 8
23664.4408136
Row 34 is in Centroid group 8
5495.44081359
Row 35 is in Centroid group 8
11855.4408136
Row 36 is in Centroid group 8
55835.4408136
Row 37 is in Centroid group 8
28472.4408136
Row 38 is in Centroid group 8
41541.4408136
Row 39 is in Centroid group 8
21297.4408136
Row 40 is in Centroid group 8
116067.440814
Row 41 is in Centroid group 8
45903.4408136
Row 42 is in Centroid group 8
2973.44081359
Row 43 is in Centroid group 8
333348.440814
Row 44 is in Centroid group 8
10852.4408136
Row 45 is in Centroid group 8
16695.4408136
Row 46 is in Centroid group 8
17363.4408136
Row 47 is in Centroid group 8
11445.4408136
Row 48 is in Centroid group 8
18235.4408136
Row 49 is in Centroid group 8
5805.44081359
Row 50 is in Centroid group 8
2807.44081359
Row 51 is in Centroid group 8
25694.4408136
Row 52 is in Centroid group 8
2885.44081359
Row 53 is in Centroid group 8
27440.4408136
Row 54 is in Centroid group 8
245966.440814
Row 55 is in Centroid group 8
265940.440814
Row 56 is in Centroid group 8
199066.440814
Row 57 is in Centroid group 8
51885.4408136
Row 58 is in Centroid group 8
5226.44081359
Row 59 is in Centroid group 8
4967.44081359
Row 60 is in Centroid group 8
297768.440814
Row 61 is in Centroid group 8
5716.44081359
Row 62 is in Centroid group 8
88336.4408136
Row 63 is in Centroid group 8
92894.4408136
Row 64 is in Centroid group 8
15520.4408136
Row 65 is in Centroid group 8
6445.44081359
Row 66 is in Centroid group 8
3361.44081359
Row 67 is in Centroid group 8
8985.44081359
Row 68 is in Centroid group 8
5623.44081359
Row 69 is in Centroid group 8
8573.44081359
Row 70 is in Centroid group 8
230464.440814
Row 71 is in Centroid group 8
44628.4408136
Row 72 is in Centroid group 8
263661.440814
Row 73 is in Centroid group 8
5473.44081359
Row 74 is in Centroid group 8
11828.4408136
Row 75 is in Centroid group 8
17070.4408136
Row 76 is in Centroid group 8
115133.440814
Row 77 is in Centroid group 8
175639.440814
Row 78 is in Centroid group 8
168857.440814
Row 79 is in Centroid group 8
192700.440814
Row 80 is in Centroid group 8
9097.44081359
Row 81 is in Centroid group 8
19257.4408136
Row 82 is in Centroid group 8
418673.440814
Row 83 is in Centroid group 8
13830.4408136
Row 84 is in Centroid group 8
11498.4408136
Row 85 is in Centroid group 8
4885.44081359
Row 86 is in Centroid group 8
8255.44081359
Row 87 is in Centroid group 8
4225.44081359
Row 88 is in Centroid group 8
98753.4408136
Row 89 is in Centroid group 8
159088.440814
Row 90 is in Centroid group 8
4908.44081359
Row 91 is in Centroid group 8
5375.44081359
Row 92 is in Centroid group 8
19023.4408136
Row 93 is in Centroid group 8
32683.4408136
Row 94 is in Centroid group 8
6607.44081359
Row 95 is in Centroid group 8
13655.4408136
Row 96 is in Centroid group 8
56709.4408136
Row 97 is in Centroid group 8
17344.4408136
Row 98 is in Centroid group 8
352533.440814
Row 99 is in Centroid group 8
18135.4408136
Row 100 is in Centroid group 8
3945.44081359
Row 101 is in Centroid group 8
3509.44081359
Row 102 is in Centroid group 8
44537.4408136
Row 103 is in Centroid group 8
12425.4408136
Row 104 is in Centroid group 8
4536.44081359
Row 105 is in Centroid group 8
89402.4408136
Row 106 is in Centroid group 8
17826.4408136
Row 107 is in Centroid group 8
128635.440814
Row 108 is in Centroid group 8
5855.44081359
Row 109 is in Centroid group 8
36518.4408136
Row 110 is in Centroid group 8
28615.4408136
Row 111 is in Centroid group 8
22427.4408136
Row 112 is in Centroid group 8
5295.44081359
Row 113 is in Centroid group 8
5571.44081359
Row 114 is in Centroid group 8
14348.4408136
Row 115 is in Centroid group 8
2664.44081359
Row 116 is in Centroid group 8
25828.4408136
Row 117 is in Centroid group 8
22158.4408136
Row 118 is in Centroid group 8
3852.44081359
Row 119 is in Centroid group 8
257821.440814
Row 120 is in Centroid group 8
91872.4408136
Row 121 is in Centroid group 8
196003.440814
Row 122 is in Centroid group 8
170129.440814
Row 123 is in Centroid group 8
6299.44081359
Row 124 is in Centroid group 8
4036.44081359
Row 125 is in Centroid group 8
7543.44081359
Row 126 is in Centroid group 8
338799.440814
Row 127 is in Centroid group 8
63847.4408136
Row 128 is in Centroid group 8
6915.44081359
Row 129 is in Centroid group 8
65615.4408136
Row 130 is in Centroid group 8
30887.4408136
Row 131 is in Centroid group 8
12454.4408136
Row 132 is in Centroid group 8
20240.4408136
Row 133 is in Centroid group 8
26643.4408136
Row 134 is in Centroid group 8
12503.4408136
Row 135 is in Centroid group 8
31989.4408136
Row 136 is in Centroid group 8
105722.440814
Row 137 is in Centroid group 8
123605.440814
Row 138 is in Centroid group 8
141609.440814
Row 139 is in Centroid group 8
119972.440814
Row 140 is in Centroid group 8
17187.4408136
Row 141 is in Centroid group 8
25850.4408136
Row 142 is in Centroid group 8
4327.44081359
Row 143 is in Centroid group 8
49673.4408136
Row 144 is in Centroid group 8
33293.4408136
Row 145 is in Centroid group 8
12881.4408136
Row 146 is in Centroid group 8
67348.4408136
Row 147 is in Centroid group 8
7221.44081359
Row 148 is in Centroid group 8
74089.4408136
Row 149 is in Centroid group 8
5226.44081359
Row 150 is in Centroid group 8
257261.440814
Row 151 is in Centroid group 8
34063.4408136
Row 152 is in Centroid group 8
97915.4408136
Row 153 is in Centroid group 8
8380.44081359
Row 154 is in Centroid group 8
3145.44081359
Row 155 is in Centroid group 8
33941.4408136
Row 156 is in Centroid group 8
142595.440814
Row 157 is in Centroid group 8
8628.44081359
Row 158 is in Centroid group 8
2025.44081359
Row 159 is in Centroid group 8
11195.4408136
Row 160 is in Centroid group 8
15595.4408136
Row 161 is in Centroid group 8
264005.440814
Row 162 is in Centroid group 8
425636.440814
Row 163 is in Centroid group 8
37294.4408136
Row 164 is in Centroid group 8
2979.44081359
Row 165 is in Centroid group 8
3073.44081359
Row 166 is in Centroid group 8
30501.4408136
Row 167 is in Centroid group 8
4938.44081359
Row 168 is in Centroid group 8
19135.4408136
Row 169 is in Centroid group 8
42302.4408136
Row 170 is in Centroid group 8
21916.4408136
Row 171 is in Centroid group 8
29817.4408136
Row 172 is in Centroid group 8
4927.44081359
Row 173 is in Centroid group 8
4862.44081359
Row 174 is in Centroid group 8
8351.44081359
Row 175 is in Centroid group 8
178409.440814
Row 176 is in Centroid group 8
190588.440814
Row 177 is in Centroid group 8
261830.440814
Row 178 is in Centroid group 8
57502.4408136
Row 179 is in Centroid group 8
5985.44081359
Row 180 is in Centroid group 8
14475.4408136
Row 181 is in Centroid group 8
36482.4408136
Row 182 is in Centroid group 8
4270.44081359
Row 183 is in Centroid group 8
9133.44081359
Row 184 is in Centroid group 8
16366.4408136
Row 185 is in Centroid group 8
5564.44081359
Row 186 is in Centroid group 8
9365.44081359
Row 187 is in Centroid group 8

In [24]:
# must need to whiten the df too - comparing whitened centroids to non-whitened df doesn't make seense.

In [44]:
dfcb.iloc[0] - arr10[0][0]

lifeMale           0
lifeFemale         0
infantMortality    0
GDPperCapita       0
Name: 0, dtype: float64

In [26]:
# experimental section

In [27]:
a1 = dfw2.iloc[0,]

In [28]:
a1

lifeMale             45
lifeFemale           46
infantMortality     154
GDPperCapita       2848
Name: 0, dtype: float64

In [29]:
na1 = np.array(a1)

In [30]:
na1 , arr10[0][0]

(array([   45.,    46.,   154.,  2848.]),
 array([ 6.53455789,  6.61807942,  0.41244154,  0.25647872]))

In [31]:
r1 = na1 - arr10[0][0]

In [32]:
r1

array([   38.46544211,    39.38192058,   153.58755846,  2847.74352128])

In [95]:
ar_features_clean[0]

array([   45.,    46.,   154.,  2848.])

In [96]:
ar_centroids[0]

array([[ 4.73891584,  4.46290713,  2.83381706,  0.03232314],
       [ 7.57162724,  7.17220628,  0.22647459,  2.043228  ],
       [ 5.92734851,  5.45905091,  1.87721552,  0.1585886 ],
       [ 4.3559465 ,  4.06808367,  3.66364083,  0.07454862],
       [ 6.7418259 ,  6.61355682,  0.56452935,  0.29259488],
       [ 7.35584461,  7.09031481,  0.27066476,  1.15659281],
       [ 6.63764845,  6.28846415,  1.14502418,  0.16406281],
       [ 5.21459989,  4.89798179,  2.0980099 ,  0.09440701],
       [ 7.61548268,  7.29104312,  0.14779155,  3.38829266],
       [ 7.20375448,  6.85702375,  0.4618486 ,  0.30190503]])

In [93]:
cast1 = ar_features_clean[0] - ar_centroids[0]

In [99]:
45 - 4.73, 46 - 4.46 , 45 - 7.51

(40.269999999999996, 41.54, 37.49)

In [94]:
cast1 # casting will subtract a data row from all values in the centroid

array([[   40.26108416,    41.53709287,   151.16618294,  2847.96767686],
       [   37.42837276,    38.82779372,   153.77352541,  2845.956772  ],
       [   39.07265149,    40.54094909,   152.12278448,  2847.8414114 ],
       [   40.6440535 ,    41.93191633,   150.33635917,  2847.92545138],
       [   38.2581741 ,    39.38644318,   153.43547065,  2847.70740512],
       [   37.64415539,    38.90968519,   153.72933524,  2846.84340719],
       [   38.36235155,    39.71153585,   152.85497582,  2847.83593719],
       [   39.78540011,    41.10201821,   151.9019901 ,  2847.90559299],
       [   37.38451732,    38.70895688,   153.85220845,  2844.61170734],
       [   37.79624552,    39.14297625,   153.5381514 ,  2847.69809497]])

In [106]:
# minidx = min(enumerate(data), key=lambda x:sum(x[1]))[0]
test1 = min(enumerate(cast1), key = lambda x: sum(x[1]))[0]  # this lambda function will find the 
# row with the min difference

test1

8

In [100]:
cast1 = ar_features_clean - ar_centroids[0]

ValueError: operands could not be broadcast together with shapes (188,4) (10,4)

In [ ]:
# print(df.i_class.unique())
c_chart = ['red','green','blue']
for idx, val in enumerate(df.i_class.unique()):
    df1 = df[df['i_class'] == val]
    y = df1['s_width']
    x = df1['s_length']
    plt.scatter(x,y, color = c_chart[idx])
plt.title('Iris Graph')
plt.xlabel('Sepal Length')
plt.ylabel('Sepal Width')
red_patch = mpatches.Patch(color='red', label='Setosa')
blue_patch = mpatches.Patch(color='blue', label = 'Versicolor')
green_patch = mpatches.Patch(color='green', label = 'Virginica')
plt.legend(handles=[red_patch, blue_patch, green_patch])
plt.show()

In [ ]:
# Determine k.
# Calculate the distance between the new observation and all points in the training set.
# Sort the distances to determine the k nearest neighbors based on the k-th minimum distance.
# Determine the class of those neighbors.
# Determine the majority.

In [ ]:
def get_majority(dfrnd):

#     print(dfrnd)
    # set the values for length and width from random row for distance calculations

    rnd_length = dfrnd['s_length']
    rnd_width = dfrnd['s_width']
#     print("sepal length in my random row is {}".format(rnd_length))
   

    # calculate the distance between the random point and all points in the array based on pythagorean thereom

    df['length_dif'] = rnd_length - df['s_length']
    df['width_dif'] = rnd_width - df['s_width']
    df['dist'] = np.sqrt(df.length_dif **2 + df.width_dif **2)

    # sort the data by distance
    dfsort = df.sort(['dist'], ascending = [True])

    # create a new df with only k nearest neighbors
    dfk = dfsort.head(k)
#     print("nearest neighbors sorted by distance ")
#     print(dfk)
    
    # Vote on majority class
    setosa_cnt = 0
    versicolor_cnt = 0
    virginica_cnt = 0

    # count number of each type

    setosa_cnt = dfk[df['i_class'] == 'Iris-setosa'].s_length.count()
    versicolor_cnt = dfk[df['i_class'] == 'Iris-versicolor'].s_length.count()
    virginica_cnt = dfk[df['i_class'] == 'Iris-virginica'].s_length.count()
#     print(setosa_cnt, versicolor_cnt, virginica_cnt)

    count_dict = {'Iris-setosa': setosa_cnt, 'Iris-versicolor': versicolor_cnt, 'Iris-virginica': virginica_cnt}
#     print(count_dict)

    majority = max(count_dict, key=lambda key: count_dict[key])
#     print("Majority vote is {} and actual is {}".format(majority, dfrnd['i_class']))


    return(majority)

In [ ]:
k = 5

len(df)

In [ ]:
# df['majority'] = [get_majority(data,k) for index, data in df['i_class'].iteritems()]
# raw_data['Loan.Length'] = [get_int_from_text(data) for index, data in raw_data['Loan.Length'].iteritems()]
df['majority'] = False

for x in range(len(df)):
# for x in range(5):
    majority = get_majority(df.iloc[x])
#     print(majority)
    df.loc[x,'majority'] = majority # loc works here but iloc does not

In [ ]:
# df[df['i_class' != 'majority']].count()
print("Number of mislabeled points out of a total %d points : %d"
% (df.shape[0],(df.i_class != df.majority).sum()))

In [ ]:
df[df['i_class'] != df['majority']]

In [ ]:
df1 = df[df['i_class'] != df['majority']]
y = df1['s_width']
x = df1['s_length']
plt.scatter(x,y, color = 'red')

df2 = df[df['i_class'] == df['majority']]
y2 = df2['s_width']
x2 = df2['s_length']
plt.scatter(x2,y2, color = 'green')

plt.title('Iris Graph')
plt.xlabel('Sepal Length')
plt.ylabel('Sepal Width')
red_patch = mpatches.Patch(color='red', label='Missed')
green_patch = mpatches.Patch(color='green', label = 'Hit')
plt.legend(handles=[red_patch, green_patch])
plt.show()

In [ ]:
a = pd.scatter_matrix(df, alpha=0.05, figsize=(10,10), diagonal='hist')